* {
  margin: 0;
  padding: 0;
  overflow: clip;
}
body {
  background-color: rgb(174, 232, 236);
  overflow: hidden;
}
.heading {
  margin-left: 650px;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35pt;
  -webkit-text-fill-color: rgb(6, 80, 39);
}
.form {
  background-color: rgb(6, 80, 39);
  width: 90%;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-fill-color: darkgoldenrod;
}
.btn{
  /*background-color: darkgoldenrod;
  border-color: darkgoldenrod;*/
  margin-left: 300px;
  margin-bottom: 10px;
  -webkit-text-fill-color: rgb(6, 80, 39);
  box-shadow: 10px 5px 5px black;
  width: 80px;
  height: 40px;
}
.tab-container {
  box-sizing: content-box;
  width: 700px;
  margin-top: 20px;
  margin-left: 500px;
  border: solid transparent;
  background-color: rgb(6, 80, 39);
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-fill-color: darkgoldenrod;
}
.tab-key {
  background-color: rgb(6, 80, 39);
}
.time {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}
.reg-form {
  height: 30%;
}